<div class="h2s-plugin">
    <div class="branding">
        <img src="{{logoUrl}}">
        <span>{{title}}</span>
    </div>
    <div class="share-targets">
    {{#shareTargets}}
        <img src="{{iconUrl}}" class="share-target" data-name="{{name}}">
    {{/shareTargets}}
    </div>
</div>